body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #121218;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin: 0;
}

main {
  padding: 21px;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

form {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  width: 300px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007aff;
  color: #fff;
  border: none;
  cursor: pointer;
}
